langchain
langchain-core
langchain-community
langgraph

langchain-groq
langchain-openai
langchain-huggingface

python-dotenv

sentence-transformers
transformers

faiss-cpu
chromadb

pypdf
pymupdf

beautifulsoup4
lxml
requests

typesense